include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/urlsearch *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/urlsearch/migration *.ini *.py *.mako
